/* TestComponent.css */

.test-container {
  text-align: center;
  margin-top: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
 width: 800px;
 height:500px;
 object-fit: cover;
}

.click-marker {
  position: absolute;
  pointer-events: none;
  z-index:10;
  transform: translate(-50%, -50%);
  font-size:22px;
}

.correct{
  color:greenyellow;
}

.incorrect{
  color:red;
}