.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  main {
    margin-bottom: 40px;
  }
  
  .score {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #777;
  }
  
  footer {
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  .btnPrimary {
    padding: 10px 20px;
    font-size: 16px;
    min-height: 50px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #3a944a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnPrimary:hover {
    background-color: #2c7039;
  }
  
  .btnSecundary {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #84878a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnSecundary:hover {
    background-color: #414244;
  }
  