.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.formGuess {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
