.container-signup {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-signup .avatar-preview {
  margin: 20px 0 30px 0;
  text-align: center;
}

.container-signup .avatar-preview img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
}



